.NavBarContainer {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.NavBarLogoText {
  position: static;
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #29B1E0;
  margin-left: 20px;
}

.SignupLoginContainer {
  margin-right: 20px;

}

.SignUpLink, .LoginLink, .TripsLink {
  font-size: 35px;
  color: #707070;
  margin: 20px;
}

a:link {
  color: none;
  text-decoration: none;
}

.HomeDiv {
  background-color: #29B1E0;
  color: #FFFFFF;
  border-radius: 29px;
  height: 350px;
  margin: 0 20px 0 20px
}

.WelcomeText {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 20px;
  padding: 1px;
}
