.NavBarContainer {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.NavBarLogoText {
  position: static;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #29B1E0;
  margin-left: 20px;
}

.LogOutButton {
  font-size: 25px;
}

.SignupLoginContainer {
  margin-right: 20px;

}

.SignUpLink, .LoginLink, .TripsLink {
  font-size: 30px;
  color: #707070;
  margin-right: 30px;
  margin-left: 10px;
}

.NavBarLinks {
  margin-right: 20px;
}

.TripsLink:hover, .SignUpLink:hover, .LoginLink:hover {
  text-decoration: underline;
}

.HomeDiv {
  background-color: #29B1E0;
  color: #FFFFFF;
  border-radius: 29px;
  height: 350px;
  margin: 0 30px 0 30px
}

.WelcomeText {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 20px;
  padding: 1px;
}

.TripCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.EachTripCardContainer:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.EachTripCardContainer {
  border-radius: 29px;
  width: 430px;
  height: 310px;
  position: relative;
  margin: 10px 0px 10px 30px;
  border: 1px solid;
}

.TripCardImg img {
  width: 430px;
  height: 310px;
  border-radius: 29px;
  position: absolute;
}

.TripName {
  margin-left: 20px;
  line-height: 10px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.TripLocation {
  margin-left: 20px;
  line-height: 0px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.TripDuration {
  margin-left: 20px;
  line-height: 0px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.TripDetails {
  background-color: white;
  position: absolute;
  width: 430px;
  height: 75px;
  border-radius: 29px 29px 0 0;
  opacity: 0.90;
}

.TripUniqueID {
  margin-left: 350px;
  line-height: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

a:link {
  color: none;
  text-decoration: none;
}

.LogInContainer {
  border: 1px solid #707070;
  border-radius: 29px;
  height: 330px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.SignUpContainer {
  border: 1px solid #707070;
  border-radius: 29px;
  height: 650px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
}

.LogInContainer form, .SignUpContainer form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

.LogInForm input, .SignUpForm input {
  border: 1px solid #707070;
  border-radius: 29px;
  margin: 20px 0 0 0;
  width: 370px;
  height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.LogInText, .SignUpText {
  background-color: #29B1E0;
  border-radius: 29px 29px 0 0;
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  font-size: 19px;
}

.LogInBtn, .SignUpBtn, .NewTripBtn, .NewEventBtn {
  background: none;
  border: 1px solid #707070;
  border-radius: 29px;
  margin-top: 30px;
  width: 250px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #707070;
  font-weight: bold; 
}

.NewTripForm {
  position: absolute;
  top: 520%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 1px solid #707070;
  height: 500px;
  width: 650px;
  border-radius: 29px;
  background-color: white;
}

.NewEventForm {
  position: absolute;
  top: 520%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: 1px solid #707070;
  height: 600px;
  width: 650px;
  border-radius: 29px;
  background-color: white;
}

.NewTripForm input, .NewEventForm input {
  border: 1px solid #707070;
  border-radius: 29px;
  width: 250px;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.NewTripForm label, .NewEventForm label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.NewTripText h1, .NewEventText h1 {
  color: #29B1E0;
  text-align: center;
  margin-top: 30px;
}

.NewTripForm form, .NewEventForm form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.CloseTripFormBtn {
  position: absolute;
  width: 25px;
  transform: translate(610px, -440px);
}

.CloseEventFormBtn {
  position: absolute;
  width: 25px;
  transform: translate(610px, -560px);
}

.NewTripContainer, .NewEventContainer {
  position: relative;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.TripsListText h2, .EventsListText h2 {
  margin-left: 30px;
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 10px;
}

.AddTripFormText h3, .AddEventFormText h3 {
  margin-right: 30px;
}

.AddTripFormText:hover{
  text-decoration: underline;
}

.TripCardPage, .EventCardPage {
  position: relative;
}

.TripCardPage img, .EventCardPage img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.25;
}

.TripCardName h1 {
  margin-top: 0;
  padding-top: 20px;
  margin-left: 30px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.TripCardLocation h3, .TripCardDuration h4, .TripCardUniqueID h5{
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.MembersContainer, .ParticipantsContainer {
  border: 1px solid #707070;
  background: white;
  border-radius: 29px;
  width: 300px;
  height: auto;
  position: absolute;
  top: 180px;
  right: 50px;
}

.MembersText, .ParticipantsText {
  border: 1px solid #707070;
  border-radius: 29px 29px 0 0;
  background: white;
}

.MembersText h2, .TripEventText h2 {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.MembersList, .ParticipantsList {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

.MemberImg img, .ParticipantImg img {
  width: 50px;
  height: 50px;
  z-index: 1;
  position: relative;
}

.TripEventsContainer {
  border: 1px solid #707070;
  background: white;
  border-radius: 29px;
  width: 1025px;
  height: auto;
  position: absolute;
  top: 120px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.TripEventText {
  border: 1px solid #707070;
  border-radius: 29px 29px 0 0;
  background: white;
}

.TripEventDetails {
  border: 1px solid #707070;
  border-radius: 29px;
  margin: 20px;
  padding: 20px;
}

.TripEventDetails:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.LeaveOrJoinTripBtn button, .LeaveOrJoinEventBtn button {
  border: 1px solid #707070;
  border-radius: 29px;
  background: white;
  width: 300px;
  height: auto;
  position: absolute;
  top: 120px;
  right: 50px;
  font-size: 20px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.LeaveOrJoinTripBtn button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

a {
  text-decoration: none;
  color: black;
}

.EventDetails {
  background: white;
  width: 980px;
  height: auto;
  border: 1px solid #707070;
  border-radius: 29px;
  margin-left: 20px;
}

.EventCardName h1 {
  margin-top: 0;
  padding-top: 20px;
  margin-left: 20px;
}